@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

body {
    height: 100%;
}

textarea {
    font-family: 'Ubuntu Mono', monospace;
    outline: none;
    border: none;
    background-color: #121212 !important;
    color: white;
    padding: 15px;
    font-size: 18px;
    resize: none;
    height: 100vh;
    white-space: pre;
    tab-size: 4;
    overflow-x: scroll;
}

.default-section {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #121212 !important;
    color: white;
    white-space: pre;
    height: 100vh;
    padding: 15px;
    font-size: 18px;
    overflow: scroll;
}

.code-view > div {
    padding: 0;
}

.avatar {
    vertical-align: middle;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.code-view * {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}

.line-numbers {
    width: 20px;
    background: #1e1e1e !important;
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #7193bb;
}

.editor {
    display: flex;
    width: 100vw;
}